@model IEnumerable<PTPMQL07.Models.DichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenDV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaDV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gia)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TenDV }) |
        @Html.ActionLink("Details", "Details", new { id = item.TenDV }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TenDV })
    </td>
</tr>
}

</table>
