@model IEnumerable<PTPMQL07.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Họ Khách hàng
        </th>
        <th>
            tên khách hàng
        </th>
        <th>
            mã khách hàng
        </th>

        <th>
            số chứng minh thư
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Ngày đến
        </th>
        <th>
            Ngày Đi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HoKh)
    </td>
    <td>
        @item.TenKh
    </td>
    <td>
        @item.MaKh
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SoCMT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDi)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.NgayDen }) |
        @Html.ActionLink("Details", "Details", new { id = item.NgayDen }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.NgayDen })
    </td>
</tr>
}

</table>
